p {
    font-size: 14px;
    color: skyblue;
    text-align: center;
    letter-spacing: 0.35em;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
}

.fade {
    font-size: 50pt;
    color: skyblue;
    text-align: center;
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
    font-weight: 100;
    
}

h2 {
    color: skyblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: 20pt;
}
button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 500px;
    left: 900px;
    background-color:snow;
    color: skyblue;

}
#twitter {
    position: absolute;
    top: 900px;
    left: 900px; 
}
#instagram {
    position: absolute;
    top: 900px;
    left: 870px;

}
.contact {
    position: absolute;
    top: 900px;
    left: 750px;
    
}
.download {
    position: absolute;
    top: 900px;
    left: 630px;
    
}
.interrupt {
    position: absolute;
    top: 900px;
    left: 735px;
}


